* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}


.width1280 {
    max-width: 1280px;
}

.m-lr-auto {
    margin-right: auto;
    margin-left: auto;
}

.ml--05{
    margin-left: -0.5px !important;
}

.mt50 {
    margin-top: 50px; 
}
/* HEADER */
#header { 
    background-color: #3ba66b;
    top: 0;
    width: 100%;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding: 35px 0px; 
    overflow: hidden;
}

.nav-left #nav{
    margin-right: auto; 
}

#nav .nav-item {
    display: inline-block;
}

#nav .nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 0px 15px;
    display: flex;
    align-items: flex-end;
}

#nav .header-nav-home {
    padding-left: 0px !important;  
}

#nav .subnav {
    display: none;
    position: absolute;
    width: 200px;
    z-index: 1;
    background-color: #fff;
    list-style: none;
    box-shadow: 0px 9px 15px 10px rgb(0 0 0 / 5%);
}

#nav .subnav-item a {
    color: #000;
    display: block;
    padding: 7px 10px;
    border-bottom: solid 1px #e5e6ec;
}

#nav .nav-item .nav-product {
    padding: 10px 0px;
}

#nav .nav-item:hover .subnav {
    display: block;
}

#nav .nav-arrow-icon {
    padding-left: 5px;
}

#nav .nav-item a:hover {
    color: #ffb416;
}

.nav-between-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-right {
    display: flex;
}

.nav-right .search {
    position: relative;
}

.nav-right .search input {
    border-radius: 50px;
    height: 50px;
    outline: none;
    padding: 0px 15px;
    border: none; 
}

.nav-right .search a {
    position: absolute;
    right: 0;
    background: #ffb416;
    padding: 15px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
}

.nav-right .search:hover a {
    background-color: #2e8053;
    cursor: pointer;
}

.nav-right-icon {
    display: flex;
    align-items: center;
    font-size: x-large;
    padding-left: 10px;
    cursor: pointer;
}

.nav-right-icon .navright-item {
    padding: 0px 10px;
}

.nav-right .ti-search,
.nav-right-icon > a {
    text-decoration: none;
    color: #fff;
}

.nav-right a {
    padding: 0px 10px;
}


.nav-right-icon .ti-user {
    margin-right: -10px;
}

/* SLIDER */
#slider {
    height: 200px;
    background-image: url(../images/slider_introdcution.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#drop-of-water {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#slider .slider-title {
    font-weight: 700;
    font-size: 26px; 
}

#slider .slider-nav {
  margin-top: 18px;
}

.slider-nav .nav-item {
    padding: 0 10px;
}

.slider-nav > a {
    text-decoration: none;
    color: #000;
}

.slider-nav > a:hover {
    color: #ffb416;
}

/* CONTENT */
#content {
    font-size: 16px;
}

#content .section-infoandprice {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.content-slide {
    text-align: center;
}

.content-slide .content-slide--icon {
    padding: 5px;
}

.content-slide .content-slide--gallery {
    display: flex;
    flex-direction: column;
}

.content-slide--gallery img {
    width: 73px;
    border: 1px solid #3ba66b;
    margin: 5px 0;
    border-radius: 5px;
}

.content-slide--item:nth-child(2),
.content-slide--item:nth-child(3),
.content-slide--item:nth-child(4) {
    border: 1px solid #ccc;
    opacity: 0.5;
}

.content-slide--item:nth-child(2):hover,
.content-slide--item:nth-child(3):hover,
.content-slide--item:nth-child(4):hover {
    border: 1px solid #3ba66b;
    opacity: 1;
}

.content-details .content-details--imgguava {
    background-image: url(../images/sp1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-details .content-details--imgapple {
    background-image: url(../images/sp2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-details .content-details--imgstrawberry {
    background-image: url(../images/sp3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-details .content-details--imglemon {
    background-image: url(../images/sp4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-details .content-details--imgorange {
    background-image: url(../images/sp5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-details .content-details--imgonion {
    background-image: url(../images/sp7.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-details .content-details--imgtomato {
    background-image: url(../images/sp8.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-details .content-details--imgyellowbellpepper {
    background-image: url(../images/sp9.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-details .content-details--imggreenbellpepper {
    background-image: url(../images/sp10.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-details {
    display: flex;
    width: 820px;
}

.content-details--item {
    line-height: 28px;
    width: 50%;
}

.content-details--item > i {
    position: absolute;
    top: 0px;
    right: 20px;
    background-color: #eb3e32;
    color: white;
    font-size: x-large;
    padding: 10px;
    border-radius: 50%;
}

.content-details--info {
    margin-left: 10px;
}

.content-details--info > p {
    margin-bottom: 5px;
}

.content-details--info > b {
    color: red;
    font-size: 22px;
}

.content-details--info .info-SKU {
    font-size: 14px;
}

.content-details--info .info-SKU a {
    font-weight: bold;
}

.content-details--info .info-price {
    font-size: 24px;
    color: red;
    font-weight: bold;
    margin: 3px 0px;
}

.content-details--info .info-price span {
    text-decoration: underline;
}

.content-details--info .info-price a {
    font-size: 16px;
    text-decoration: line-through;
    color: rgb(165, 162, 162);
    font-weight: 100;
    margin-left: 5px;
}

.content-details--info .info-economize a {
    font-weight: bold;
}

.content-details--info .info-economize span {
    text-decoration: underline;
}

.content-details--info .info-des {
    line-height: 22px;
}

/* Special - tomato.html  */
.content-details--info .info-des-tomato {
    margin-top: 8px;
}

.content-details--weight > p {
    font-weight: bold;
    margin-bottom: 5px;
}

.content-details--weight > button {
    padding: 5px 10px;
    border-radius: 5px;
    color: #3ba66b;
    border: 1px solid #3ba66b;
    font-size: 16px;
    background-color: #fff;
}

.content-details--weight > button:nth-child(3),
.content-details--weight > button:last-child {
    border: 1px solid rgb(245, 240, 240);
    color: rgb(91, 89, 89);
}

.content-details--amount {
    margin-top: 10px;
}

.content-details--amount p {
    font-weight: bold;
}

.content-details--amount .incr-and-decr {
    display: flex;
}

.content-details--amount .incr-and-decr a {
    border: 1px solid #ccc;
    padding: 5px 7px;
    border-radius: 50px;
    margin-right: 10px;
}

.content-details--amount .incr-and-decr i {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 15px;
}

.content-details--amount .incr-and-decr button {
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: #eb3e32;
    font-weight: bold;
    color: #fff;
    width: 110px;
}

.content-details--add button {
    padding: 10px;
    font-weight: bolder;
    color: #fff;
    border: none;
    background-color: #3ba66b;
    border-radius: 50px;
    font-size: 16px;
    margin-top: 15px;
    width: 224px;
}

.content-details--add button:hover, 
.content-details--amount button:hover {
    background-color: #ffb416;
    cursor: pointer;
}

.content-warrant {
    border: 1px solid #3ba66b;
    border-radius: 8px;
    height: max-content;
    text-align: center;
}

.content-warrant--inner {
    padding: 10px;
}

.content-warrant--item {
    margin-bottom: 15px;
    padding: 0px 71px;
}

.content-warrant--item img {
    width: 56px;
}

.content-warrant--item > p {
    margin-top: 3px;
}

.content-warrant--item:last-child {
    margin-bottom: 0;
}

#content .section-info {
    margin-top: 80px;
}

.section-info .section-info--title ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.section-info--title li {
    padding: 10px ;
    background-color: #3ba66b;
    color: #fff;
    font-weight: bold;
}

.section-info--title li:first-child {
    border-radius: 10px 0 0 0;
    background-color: #ffb416;
}

.section-info--title li:last-child {
    border-radius: 0 10px  0 0;
}

.section-info--title li:hover {
    background-color: #ffb416;
}

.section-info--des {
    border: 1px solid #e8e8e8;
    line-height: 1.7;
    padding: 10px;
    text-align: justify;
}

.section-info--des .des-product > p {
    margin-bottom: 7px;
}

.section-relatedproducts {
    margin-top: 50px;
}

.section-relatedproducts .section-relatedproducts--title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.section-relatedproducts--title h1 {
    margin-bottom: 15px;
}

.section-relatedproducts--title h1:hover {
    color: #ffb416;
}

/* AGIAN CSS PRODUCT */
.section-relatedproducts--product {
    display: flex;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
}

.product-item .item-rprice {
    background-color: #F14E18;
    position: absolute;
    padding: 4px 10px;
    border-radius: 10px 0px;
    color: #fff;
    font-weight: 550;
    font-size: 14px ;
    margin-top: -0.5px;
}

.product-item .item-sp--img img {
    max-width: 238px;
}

.product-item .item-sp {
    text-align: center;
    line-height: 1.7;
}

.product-item .item-sp .item-sp--name {
    text-decoration: none;
    color: #000;
    padding: 5px 0;
    font-size: 16px;
}

.product-item .item-sp-price {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 15px;
}

.product-item .item-sp-price .item-sp--cost {
    color: #eb3e32;
    font-weight: bold;
}

.product-item .item-sp-price a {
    text-decoration: underline;
}

.product-item .item-sp--rprice {
    font-size: 13px;
    color: #777;
    text-decoration: line-through;
    padding-left: 5px;
}


/* FOOTER */
#footer { 
    background-color: #3ba66b;
    position: relative;
}

#drop-of-water1 {
    overflow: hidden;
    margin-top: 55px;
}

.drop-of-water {
    height: 47px;
}

.drop-of-water img {
    transform: translateX(-10%);   
}

#footer .footer-first {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

#footer .footer-item {
    width: 33.33333%;
    padding: 0px 50px;
    color: #fff;
}

.footer-item .signup-des > h3 {
    padding-bottom: 25px;
}

.footer-item .signup-des > p {
    padding-bottom: 20px;
    line-height: 1.7;
}

.footer-item .signup-text-btn {
    display: flex;
    margin: 0px;
    width: 100%;
    font-size: 16px;
}

.signup-text-btn .signup-text input {
    border-radius: 50px;
    outline: none;
    padding: 12px 20px;
    border: none;
    padding-right: 150px;
    width: 100%;
}

.signup-text-btn .signup-btn:hover {
    opacity: 0.8;
}

.signup-text-btn .signup-btn input {
    border: none;
    padding: 12px 20px;
    background-color: #ffb416;
    border-radius: 0px 50px 50px 0px;
    margin-left: -89px;
    color: #f3f2fb;
}

.footer-introduction .introduction {
    margin-top: 15px;
    text-align: center;
    line-height: 1.7;
}

.footer-last {
    background-color: rgba(0,0,0,0.1);
    padding: 15px 0px;
    color: #fff;
    font-size: 14px;
    margin-top: -47px;
}

.footer-contact {
    line-height: 1.7;
    margin-top: -31.575px;
}

.footer-contact > h3 {
    padding-bottom: 25px;
}

.footer-contact div {
    display: flex;
    justify-content: center;
}

.footer-contact p {
    font-weight: bold;
    padding-right: 5px;
}


.footer-copyright-iconcontact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer-copyright-iconcontact div {
    width: 33.33333%;
}

.iconcontact .iconcontact-item {
    margin: 7px;
    font-size: large;
    text-decoration: none;
    color: #fff;
}

.iconcontact .icon-ytb {
    margin-left: -2px;
}

/* THE END CSS WEB */